@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

ul {
  @apply list-disc list-inside;
}

h2 {
  @apply text-xl md:text-2xl xl:text-3xl 3xl:text-4xl md:leading-snug xl:leading-snug 3xl:leading-snug font-montserrat font-semibold;
}

p {
  @apply text-base md:text-lg xl:text-xl 3xl:text-2xl font-normal;
}
