@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  @apply font-outfit text-brandDark;
}

ul {
  @apply list-disc list-inside text-brandDark text-base md:text-lg 3xl:text-xl font-outfit font-normal pl-4 flex flex-col gap-3;
}
ol {
  @apply list-decimal list-inside text-brandDark text-base md:text-lg 3xl:text-xl font-outfit font-normal pl-4 flex flex-col gap-3;
}

h2 {
  @apply text-brandDark text-xl md:text-2xl xl:text-3xl 3xl:text-4xl md:leading-snug xl:leading-snug 3xl:leading-snug font-montserrat font-bold;
}

h3,
.h3fake {
  @apply bg-gradient-to-br from-brandPrimaryBlue to-brandBrightBlue/65 text-transparent bg-clip-text w-fit text-xl xl:text-2xl 3xl:text-3xl md:leading-snug xl:leading-snug 3xl:leading-snug font-outfit font-semibold;
}
.h3fakeLess {
  font-size: inherit;
  @apply bg-gradient-to-br from-brandPrimaryBlue to-brandBrightBlue/65 text-inherit bg-clip-text w-fit font-semibold inline-block;
}

p {
  @apply text-inherit text-base sm:text-lg md:text-xl 3xl:text-2xl font-outfit font-normal;
}
